# Figures
latex/figures/*

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.synctex.gz
*.run.xml
*.pdf
*.dvi

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/